<%= form_for(@hottrend) do |f| %>
  <% if @hottrend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hottrend.errors.count, "error") %> prohibited this hottrend from being saved:</h2>

      <ul>
      <% @hottrend.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :num %><br />
    <%= f.text_field :num %>
  </div>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
